<div class="card" style="min-width: 100%;">
  <div class="card-body">
    <form>
      <div class="form-group" style="width: 900px;">
        <label>Select Container Number</label>
        <br>
        <select class="form-select form-select-lg mb-3" aria-label="Default select example">
          <option value="1">1304</option>
          <option value="2">4345</option>
          <option value="3">3434</option>
        </select>
        </div>
      <br>
      <a type="submit" class="btn btn-primary" href="/inventorization_manager">Select</a>
    </form>
  </div>
</div>
